<h1>Listing users</h1>

<table>
  <tr>
    <th>Sex</th>
    <th>Age</th>
    <th>Occupation</th>
    <th>Zip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.sex %></td>
    <td><%= user.age %></td>
    <td><%= user.occupation_id %></td>
    <td><%= user.zip %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
